$color1: #dd6e42;
$color2: #e8dab2;
$color3: #4f6d7a; // darkened to #28393f; 
$color4: #c0d6df;
$color5: #eaeaea;

$color1: #58a4b0;
$color2: #373f51;
$color3: #1b1b1e;
$color4: #c0d6df;
$color5: #eaeaea;

// https://coolors.co/58a4b0-373f51-1b1b1e-c0d6df-eaeaea