<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
      body {
        background-color: #eaeaea;
        color: #373f51;
      }
      #main-nav,
      #main-nav a {
        background-color: #c0d6df;
        color: #373f51;
      }
      #page-content {
        margin: 50px;
      }
      #page-name h4 {
        text-align: right;
        margin-bottom: 0px;
        display: inline-flex;
      }
      @media screen and (max-width: 750px) {
        .hide-small {
            display: none !important;
        }
      }
      @media screen and (min-width: 751px) {

      }
    </style>

    <title>Counseling Book Tags</title>
  </head>
  <body>
    <!-- NAVBAR -->
    <nav id="main-nav" class="navbar navbar-expand navbar-light justify-content-between">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/">Home</a>
        <a class="nav-item nav-link active" href="/search">Update</a>
        <a class="nav-item nav-link active" href="/about">About</a>
        <a class="nav-item nav-link active" href="/contact">Contact</a>
      </div>
      <div id="page-name" class="hide-small"><h4>Counseling Book Tags</h4></div>
    </nav>
    <!-- NAVBAR -->

    <!-- PAGE CONTENT -->
    <div class="container-fluid">
      <div id="page-content">
        <div class="row">
          <input id="find-blank-books" class="btn btn-secondary" type="button" value="Find Blank Books">
        </div>
        <div class="row">
          <p id="blank-books-count">&nbsp;</p>
        </div>
        <div class="row">
          <input id="delete-blank-books" class="btn btn-secondary" type="button" value="Delete Blank Books">
        </div>
        <div class="row">
          <p id="blank-books-deleted">&nbsp;</p>
        </div>
        <div class="row">
          <input id="find-books-missing-tags" class="btn btn-secondary" type="button" value="Find Books Missing Tags">
        </div>
        <div class="row">
          <p id="missing-books-count">&nbsp;</p>
        </div>
        <div class="row">
          <input id="update-books-missing-tags" class="btn btn-secondary" type="button" value="Update Books Missing Tags">
        </div>
        <div class="row">
          <p id="missing-books-modified">&nbsp;</p>
        </div>
      </div>
    </div>
    <!-- PAGE CONTENT -->


    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script>
      var blankBooks
      var missingTagBooks

      function findBlankBooks() {
        $.ajax({
          method: "GET",
          url: "/api/v1/book/utility/blank",
          success: function(data) {
            blankBooks = data
          }
        }).then(function() {
          $('#blank-books-count').text(`Blank books: ${blankBooks.length || 0}`)
        })
      }

      function deleteBooks() {
        if (blankBooks.length > 0) {
          blankBooks.forEach(book => {
            $.ajax({
              method: "DELETE",
              url: "/api/v1/book/" + book._id,
            })          
          })
          $('#blank-books-deleted').text('Blank books deleted.')
          findBlankBooks()
        } else {
          $('#blank-books-deleted').text('No blank books to delete!')
        }
      }

      function findMissingTagBooks() {
        $.ajax({
          method: "GET",
          url: "/api/v1/book/utility/missing",
          success: function(data) {
            missingTagBooks = data
          }
        }).then(function() {
          $('#missing-books-count').text(`Books missing tags: ${missingTagBooks.length || 0}`)
        })
      }

      function updateMissingTagBooks() {
        if (missingTagBooks.length > 0) {
          missingTagBooks.forEach(book => {
            let newTags = []
            book.tagObjects.forEach(tagObject => {
              newTags.push(tagObject.tag)
            })
            newTags.forEach(tag => {
              let updateObject = 
              {
                "tag": tag
              }
              $.ajax({
                method: "PUT",
                url: '/api/v1/book/tags/' + book._id,
                data: JSON.stringify(updateObject),
                contentType: "application/json"
              })
            })
          })
          $('#missing-books-modified').text('Books missing tags have been updated.')
        } else {
          $('#missing-books-modified').text('There are no books missing tags!')
        }
      }

      // ====== ADD EVENT LISTENERS ======
      
      
      document.getElementById('find-blank-books').addEventListener('click', findBlankBooks)
      document.getElementById('delete-blank-books').addEventListener('click', deleteBooks)
      document.getElementById('find-books-missing-tags').addEventListener('click', findMissingTagBooks)
      document.getElementById('update-books-missing-tags').addEventListener('click', updateMissingTagBooks)
      
    </script>
  </body>
</html>