body {
  background-color: #eaeaea;
}
#main-nav,
#main-nav a {
  background-color: #c0d6df;
  color: #373f51;
}
#page-content-label,
.warning-text {
  color: #373f51;
}
#page-content-label {
  margin-top: 15px;
}
.tag,
.static-tag {
  /* border: 1px outset #c0d6df; */
  cursor: pointer;
  display: default;
  padding: 5px 10px;
  margin-right: 8px;
  margin-bottom: 6px;
  font-size: 0.8em;
  color: #373f51;
  background-color: #c0d6df;
  display: inline-flex;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-style: solid;
  border-width: 1px;
  /* box-shadow: 2px 2px 4px lightgrey; */
}
.selected-tag {
  display: inline-flex;
  padding: 6px 11px;
  margin-right: 8px;
  margin-bottom: 6px;
  font-size: 0.8em;
  color: #373f51;
  /* box-shadow: 2px 2px 4px lightgrey; */
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-style: solid;
  border-width: 1px;
}
#matching-books {
  max-height: 72vh;
  overflow-y: scroll;
}
.book-info,
.book-info:hover {
  text-decoration: none;
  color: #373f51;
  padding-right: 0px;
}
.delete-button {
  opacity: 0.3;
  cursor: pointer;
  margin-left: 9px;
}
#page-name h4 {
  text-align: right;
  margin-bottom: 0px;
  display: inline-flex;
}
@media screen and (max-width: 750px) {
  .hide-small {
      display: none !important;
  }
}