#background_image_container {
  /* background image url set below in @media section */
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 92vh;
  opacity: 0.15;
  box-shadow: inset 0 0 10px 10px #eaeaea;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
} 
#page-content {
  position: absolute;
  left: 0%;
  top: 60px;
  height: 92vh;
  overflow-y: scroll;
}
body {
  background-color: #eaeaea;
  color: #373f51;
}
#main-nav,
#main-nav a {
  background-color: #c0d6df;
  color: #373f51;
}
#log-out-button {
  display: none;
}
#search-controls-column {
  display: inline-flex;
  margin-top: 50px;
  margin-bottom: 20px;
}
#search-button {
  background-color: #373f51;
  color: white;
}
.new-book,
.database-book,
.alternate-book {
  cursor: pointer;
}
#alternate-book-list {
  list-style: none;
  padding-left: 0;
}
#database-books-header,
#new-books-header,
#new-books-sub-header,
#database-books-sub-header,
#database-books-spinner,
#new-books-spinner {
  display: none;
}
#new-books-header,
#database-books-header {
  margin-bottom: 0px;
}
#page-name h4 {
  text-align: right;
  margin-bottom: 0px;
  display: inline-flex;
}
.add-tag-button {
  opacity: 0.6;
}
/* This overrides bootstrap's style for the text input
box so that it will display the 'x' in chrome */
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}
@media screen and (max-width: 750px) {
  .hide-small {
      display: none !important;
  }
}
/* Manipulating background by screen size */
@media screen and (max-height: 800px) {
  #background_image_container {
    background-image: url("../images/books_2_sm.jpg");
  }
}
@media screen and (min-height: 800px) and (max-height: 1000px) {
  #background_image_container {
    background-image: url("../images/books_2_md.jpg");
  }
}
@media screen and (min-height: 1000px) and (max-height: 1280px) {
  #background_image_container {
    background-image: url("../images/books_2_md.jpg");
  }
}
@media screen and (min-height: 1280px) {
  #background_image_container {
    background-image: url("../images/books_2_lg.jpg");
  }
}